:root {
    --body-bg-color: hsl(231deg 95% 64%);
    --text-prymary-color: rgb(26, 24, 24);
    --text-Second-color: rgb(224, 221, 221); 
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background-color: var(--body-bg-color);
    font-family: monospace;
    color: var(--text-Second-color);

}

/*Inicio de cabecera en escritorio*/
/*Inicio de cabecera en escritorio*/

.header{
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-prymary-color);
}
.nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 60px;
}

.ul{
    display: flex;
    height: 40px;
    align-items: center;

}

li{
    display: inline;
    padding: 5px 15px;
}
li:hover{
    cursor: pointer;
    color: var(--text-Second-color);
    transition: all 1s;
}
.content_icono_menu{
    display: none;
}

/*fin de cabecera en escritorio*/
/*fin de cabecera en escritorio*/

.main{
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 1fr;

}

.main_description{
   padding: 30px 0px 0px 50px;
}

.main_description-p{
    padding: 10px 0px;
    font-size: 18px;
    color: var(--text-prymary-color);
    font-weight: bold;
}
.main_titulo{
    font-size: 2rem;
    font-weight: bold;
}
.main_content_card{
    margin:35px 0px 0px 0px;
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}
.main_card{
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.foto{
    width: 70px;
    border-radius: 50%;
    border: 3px solid var(--text-Second-color);
}
.description_shor{
    margin-left: 4px;
}
.description_shor p {
    margin-top: 6px;
}
.description_shor p:nth-child(1) {
    color: white;
  }
.description_shor p:nth-child(2) {
    color: rgb(24, 23, 23);
  }



@media (max-width: 760px) {

    /*inicio de cabecera en movil*/
    /*inicio de cabecera en movil*/

    .ul {
        font-size: 2rem;

        width:100%;
        margin: 130px 0 0 0;
        flex-direction: column;
        transform: translate(0,-1600%);
        opacity:1 ;
        transition: 1s ;
    }
  
    li{
        width:100%;
        padding: 50px 15px;
        text-align: center;
        border: 1px solid var(--text-Second-color);
    }
    
    .content_icono_menu{
        display: block;
        position: absolute;
        top: 28px;
        right: 60px;
    }
    
    .icono_label{
        width: 50px;
        height: 30px;
        position: relative;
        cursor: pointer;
    }
    .content_icono_menu #icono_line_one,#icono_line_two,#icono_line_three{
        position: absolute;
        content: "";
        background: var(--text-Second-color);
        width: 50px;
        height: 5px;
        transition: all 400ms;
    }
    
    #icono_line_two{
        position: absolute;
        top: 11px;
    }
    #icono_line_three{
        position: absolute;
        top: 22px;
    }
    
    #icono_input{
        display: none;
    }
    #icono_input:checked ~ .icono_label #icono_line_one{
        transform: rotate(140deg);
        top: 11px;
    }
    #icono_input:checked ~ .icono_label #icono_line_two{
        transform: rotate(-140deg);
    }
    #icono_input:checked ~ .icono_label #icono_line_three{
    opacity: 0;
    }

    /*fin de cabecera en movil*/
    /*fin de cabecera en movil*/
 
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px;
    }

}
